@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
  }

body {
	margin: 0;
	background:white;
}
.wrap {
    width: 100%;
    position: fixed;
    z-index: 999;
    height: 100px;
    margin: 0 auto;
    padding: 0;
  
}

.wrap1 {
    width: 100%;
    position: relative;
    top: 13%;
    height:100%;
    background: url(back.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.left1 {
    width: 50%;
    margin: 0 auto;
    background-color: #0052cc;
    height: 87%;
    float: left;
   

}

.right1 {
    width: 50%;
    margin: 0 auto;
   
    height: 87%;
    float: right;

}
.left {
    width: 50%;
  margin: 0 auto;
  background-color: #0052cc;
  height: 100px;
  float: left;
  
  }
.right {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    height: 100px;
    float: right;
    
}


.fiesta {
  padding-left: 45px;
  margin-top: 20px;
  display:inline-block;
}

  #tagline {
    float:right;
    padding-right: 200px;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-size: 30px;
  color: #0052cc;
  top: 25%;
  position: relative;
}

* {box-sizing:border-box}

.sidenav {
    height: 100%;
    width:0 ;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0052cc;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 30px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: #000;
    display: block;
    transition: 0.3s;
    font-family: 'Playfair Display', serif;
    
    position: relative;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .sidenav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .sidenav a:hover:after { 
    width: 20%; 
    left: 3%; 
  }

.login-form {
    top: 5%;
    position: relative;
    width: 340px;
    margin: 30px auto;
}
.login-form form {
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}

.login-form .hint-text {
    color: #777;
    padding-bottom: 15px;
    text-align: center;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.login-btn {        
    font-size: 15px;
    font-weight: bold;
}
.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}
.social-btn .btn {
    margin: 10px 0;
    font-size: 15px;
    text-align: left; 
    line-height: 24px;       
}
.social-btn .btn i {
    float: left;
    margin: 4px 15px  0 5px;
    min-width: 15px;
}
.input-group-addon .fa{
    font-size: 18px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
    
  margin: auto;
  padding: 20px;
  border: 1px solid;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-control{
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}
.form-control:focus{
    border-color: #5cb85c;
}
.form-control, .btn{        
    border-radius: 3px;
}
.signup-form{
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
    
}
.signup-form h2{
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}
.signup-form h2:before, .signup-form h2:after{
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}	
.signup-form h2:before{
    left: 0;
}
.signup-form h2:after{
    right: 0;
}
.signup-form .hint-text{
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}
.signup-form form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form .form-group{
    margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
    margin-top: 3px;
}
.signup-form .btn{        
    font-size: 16px;
    font-weight: bold;		
    min-width: 140px;
    outline: none !important;
}
.signup-form .row div:first-child{
    padding-right: 10px;
}
.signup-form .row div:last-child{
    padding-left: 10px;
}    	
.signup-form a{
    color: #fff;
    text-decoration: underline;
}
.signup-form a:hover{
    text-decoration: none;
}
.signup-form form a{
    color: #5cb85c;
    text-decoration: none;
}	
.signup-form form a:hover{
    text-decoration: underline;
}  

